@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.botons-group{
  border-radius: 57px;
}

.card{
  border-radius: 57px !important;
}

.card-header{
  border: 1px solid;
  border-top-left-radius: 57px !important;
  border-top-right-radius: 57px !important;
}

.card-footer-style{
  border: 1px solid;
  border-bottom-left-radius: 57px !important;
  border-bottom-right-radius: 57px !important;
}

.border-left{
  border-bottom-left-radius: 57px;
  border-top-left-radius: 57px;
}

.border-right{
  border-left-color: transparent;
  border-bottom-right-radius: 57px;
  border-top-right-radius: 57px;
}

.custom-select{
  font-size: 1rem;
  height: 2.5rem;
  border-radius: 12rem;
  border: 1px solid rgba(164,167,181,1);
}

.card-body{
  padding: 1rem 1rem 0rem 1rem;
}

.paddingTop{
  margin-bottom: 0px !important;
}

.transparentButton{
  background: transparent;
  border-color: transparent;
}


/* FORM.JS */
/* @media screen and (max-width:575px) {
  .paddingDiv{
    padding-bottom: 4%;
  }

  .footerPosition{
    bottom: -70%;
    position: absolute;
    padding-bottom: 25px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .paddingDiv{
    padding-bottom: 4%;
  }

  .footerPosition{
    bottom: -50%;
    position: absolute;
    padding-bottom: 25px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .paddingDiv{
    padding-bottom: 4%;
  }

  .footerPosition{
    bottom: -50%;
    position: absolute;
    padding-bottom: 25px !important;
  }
} */
/* FIN FORM.JS */
/* NAV */
.colorNav{
  background: transparent !important;
}
/*FIN NAV*/

/* HIDE RADIO */
/* [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
} */ 

.swal2-html-container{
  overflow: hidden !important;
}

.radioHide { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  margin-right: 0.5rem;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.avatar {
  /* vertical-align: middle;
  width: 20%;
  height: 20%; */
  border-radius: 50%;
}

.avatar-active{
  outline: 4px solid #0080009e;
  background: #0080009e;
  /* background: rgba(77, 255, 98, 0.572); */
}

.avatar-inactive{
  outline: 4px solid #ff00007a;
  background: #ff00007a;
  /* ff00007a */
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

         
.dowanload-btn {
  background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 25px;
  display: block;
}

.dowanload-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.socialbtn {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: var(--background-color);
  --tw-gradient-from: #FA5252;
  --tw-gradient-to: rgb(250 82 82 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #DD2476;
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialbtn:hover {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  border-radius: 20px;
}

.alink {
  background-color: var(--background-color) !important;
  color: var(--font-color) !important;
} 

.alink:hover {
  /* text-shadow: 1px 1px 1px yellow; */
  color: red !important;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-2\.5 {
  margin-right: 0.625rem;
}

/* About */
.after-effect {
  position: relative;
  display: inline-block;
  transform: translate(var(0), var(0)) rotate(var(0)) skewX(var(0)) skewY(var(0)) scaleX(var(1)) scaleY(var(1));
  --tw-gradient-from: #FA5252;
  --tw-gradient-to: rgb(250 82 82 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #DD2476;
  font-family: Roboto Slab, serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.after-effect::after {
  position: absolute;
  top: 50%;
  width: 12rem;
  height: 0.125rem;
  --tw-translate-y: -50%;
  transform: translate(var(0), var(-50%)) rotate(var(0)) skewX(var(0)) skewY(var(0)) scaleX(var(1)) scaleY(var(1));
  border-radius: 0.375rem;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-content: "";
  content: var(--tw-content);
}

.bg-\[\#fcf4ff\] {
  background-color: rgb(252 244 255 / var(1));
}

.about-box {
  display: flex;
  gap: 1rem;
  border-radius: 0.75rem;
  --tw-border-opacity: 1;
  border-color: rgb(33 36 37 / var(--tw-border-opacity));
  padding: 1.5rem;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.brand-img {
	max-width: 100% !important;
	width: auto !important;
	height: auto !important;
	overflow: hidden;
	text-align: center;
}

/* Resume */

.resume-btn {
  cursor: default;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(237 242 242 / var(--tw-bg-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(68 86 108 / var(--tw-text-opacity));
}

.bg-color-810 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 251 251 / var(--tw-bg-opacity));
}

