@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.botons-group{
  border-radius: 57px;
}

.card{
  border-radius: 57px !important;
}

.card-header{
  border: 1px solid;
  border-top-left-radius: 57px !important;
  border-top-right-radius: 57px !important;
}

.card-footer-style{
  border: 1px solid;
  border-bottom-left-radius: 57px !important;
  border-bottom-right-radius: 57px !important;
}

.border-left{
  border-bottom-left-radius: 57px;
  border-top-left-radius: 57px;
}

.border-right{
  border-left-color: transparent;
  border-bottom-right-radius: 57px;
  border-top-right-radius: 57px;
}

.custom-select{
  font-size: 1rem;
  height: 2.5rem;
  border-radius: 12rem;
  border: 1px solid rgba(164,167,181,1);
}

.card-body{
  padding: 1rem 1rem 0rem 1rem;
}

.paddingTop{
  margin-bottom: 0px !important;
}

.transparentButton{
  background: transparent;
  border-color: transparent;
}


/* FORM.JS */
/* @media screen and (max-width:575px) {
  .paddingDiv{
    padding-bottom: 4%;
  }

  .footerPosition{
    bottom: -70%;
    position: absolute;
    padding-bottom: 25px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .paddingDiv{
    padding-bottom: 4%;
  }

  .footerPosition{
    bottom: -50%;
    position: absolute;
    padding-bottom: 25px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .paddingDiv{
    padding-bottom: 4%;
  }

  .footerPosition{
    bottom: -50%;
    position: absolute;
    padding-bottom: 25px !important;
  }
} */
/* FIN FORM.JS */
/* NAV */
.colorNav{
  background: transparent !important;
}
/*FIN NAV*/

/* HIDE RADIO */
/* [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
} */ 

.swal2-html-container{
  overflow: hidden !important;
}

.radioHide { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  margin-right: 0.5rem;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.avatar {
  /* vertical-align: middle;
  width: 20%;
  height: 20%; */
  border-radius: 50%;
}

.avatar-active{
  outline: 4px solid #0080009e;
  background: #0080009e;
  /* background: rgba(77, 255, 98, 0.572); */
}

.avatar-inactive{
  outline: 4px solid #ff00007a;
  background: #ff00007a;
  /* ff00007a */
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}