@tailwind base;
@tailwind components;
@tailwind utilities;
  
.ml-div {
  margin-left: 0vw;
}

.App {
  text-align: center;
}

.btn:hover {
  color: red;
}

.lblRed{
  color:red;font-size: larger;
}

.botons-group{
  border-radius: 57px;
}

.card{
  border-radius: 57px !important;
}

.card-header{
  border: 1px solid;
  border-top-left-radius: 57px !important;
  border-top-right-radius: 57px !important;
}

.card-footer-style{
  border: 1px solid;
  border-bottom-left-radius: 57px !important;
  border-bottom-right-radius: 57px !important;
}

.border-left{
  border-bottom-left-radius: 57px;
  border-top-left-radius: 57px;
}

.border-right{
  border-left-color: transparent;
  border-bottom-right-radius: 57px;
  border-top-right-radius: 57px;
}

.custom-select{
  font-size: 1rem;
  height: 2.5rem;
  border-radius: 12rem;
  border: 1px solid rgba(164,167,181,1);
}

.card-body{
  padding: 1rem 1rem 0rem 1rem;
}

.paddingTop{
  margin-bottom: 0px !important;
}

.navBarActive {
  color: red !important;
}

.transparentButton{
  background: transparent;
  border-color: transparent;
}

.divPersonalData{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.bgConocimientos{
  /* background: #c4c4ff; */
  background: #0000f34f;
  padding: 3%;
  border-radius: 0.5rem;
}

.bgNJP{
  background: rgb(80,86,246);
  background: linear-gradient(90deg, rgba(80,86,246,1) 15%, rgba(80,86,246,1) 26%, rgba(189,187,245,0.7372198879551821) 100%);
}

.bgLCGS{
  background: rgb(83,122,80);
  background: linear-gradient(90deg, rgba(83,122,80,1) 15%, rgba(83,122,80,1) 26%, rgba(123,84,143,0.891281512605042) 100%);
}

.bgSena{
  background: rgb(255,98,50);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.768) 15%, rgba(0, 0, 0, 0.737) 26%, rgba(255,98,50,0.5747549019607843) 100%);
}

.bgNexos{
  background: linear-gradient(90deg, rgb(108 175 254) 0%, rgb(249 121 83 / 71%) 100%, rgb(249 121 83 / 71%) 100%);
}

.bgTrendi{
  background: linear-gradient(90deg, rgb(255 122 82 / 73%) 0%, rgb(243 133 100 / 83%) 35%, rgb(58 132 249 / 88%) 100%);
}

.colorNav{
  background: transparent !important;
}
.swal2-html-container{
  overflow: hidden !important;
}

.radioHide { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.divIzquierda {
  height: 100vh;
  position: fixed;
}

.divDerecha{
  width: 100%;
}

.downloadBtn {
  background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  margin: 10px;
  padding: 10px 30px;
  margin-top: 1rem;
  margin-left: 5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  border-radius: 25px;
  display: block;
}

.downloadBtn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.socialbtn {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: var(--background-color);
  --tw-gradient-from: #FA5252;
  --tw-gradient-to: rgb(250 82 82 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #DD2476;
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialbtn:hover {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  border-radius: 20px;
}

.alink {
  background-color: transparent !important;
  color: var(--font-color) !important;
} 

.alink:hover {
  /* text-shadow: 1px 1px 1px yellow; */
  color: red !important;
}

.anavbar {
  color: var(--font-color);
}

.anavbar:hover {
  color: red !important;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-2\.5 {
  margin-right: 0.625rem;
}

.imgAvatarSM {
  height: 30vh;
  width: 45vw;
}

/* About */
.after-effect {
  position: relative;
  display: inline-block;
  transform: translate(var(0), var(0)) rotate(var(0)) skewX(var(0)) skewY(var(0)) scaleX(var(1)) scaleY(var(1));
  --tw-gradient-from: #FA5252;
  --tw-gradient-to: rgb(250 82 82 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #DD2476;
  /* font-family: Roboto Slab, serif; */
  font-size: 2.5rem;
  font-weight: 700;
}

.after-effect::after {
  position: absolute;
  top: 50%;
  width: 38vw;
  height: 0.125rem;
  --tw-translate-y: -50%;
  transform: translate(var(0), var(-50%)) rotate(var(0)) skewX(var(0)) skewY(var(0)) scaleX(var(1)) scaleY(var(1));
  border-radius: 0.375rem;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-content: "";
  content: var(--tw-content);
}

.bg-\[\#fcf4ff\] {
  background-color: rgb(252 244 255 / var(1));
}

.about-box {
  display: flex;
  gap: 1rem;
  border-radius: 0.75rem;
  --tw-border-opacity: 1;
  border-color: rgb(33 36 37 / var(--tw-border-opacity));
  padding: 1.5rem;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.brand-img {
	max-width: 100% !important;
	width: auto !important;
	height: auto !important;
	overflow: hidden;
	text-align: center;
}

/* Resume */

.resume-btn {
  /* width: 20%;
  cursor: default; */
  border-radius: 0.5rem;
  background-color: rgb(237 242 242 / 1);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(68 86 108 / 1);
}

.bg-color-810 {
  background-color: rgb(248 251 251 / 1);
}

.textCamposRequeridos {
  color: red;
  font-style: italic;
}

.blackButton {
  background-color: var(--background-color);
  border-color: var(--font-color);
  color: var(--font-color);
}

/* INICIO DARKMODE */
:root {
  --font-color: rgb(0, 0, 0);
  --background-color: white;
  --link-color: cornflowerblue;
  --button-color: black;
  --nav-active-color:white;
  --card-background-color: #f7f7f7;
  --color-toggle-table: #eff1f5;
  --logo-mille: url('./../public/Assets/Images/logoMille.svg');
  --fondo: url('./../public/Assets/Images/WallpaperLight.jpg');
  --fondo-SM: url('./../public/Assets/Images/WallpaperLight-SM.jpg');
  --bg-text:white;
  --text-shadow: 1px 1px red;
}

[data-theme="dark"] {
  --font-color: white;
  --background-color: rgb(0, 0, 0);
  --link-color: lightblue;
  --button-color: white;
  --nav-active-color: black;
  --card-background-color: black;
  --color-toggle-table: gray;
  --logo-mille: url('./../public/Assets/Images/logoMill.svg');
  --fondo: url('./../public/Assets/Images/WallpaperDark.png');
  --fondo-SM: url('./../public/Assets/Images/WallpaperDark-SM.jpg');
  --bg-text:transparent;
  --text-shadow: transparent;
}

.logo-mil{
  background: var(--logo-mille);
  background-repeat: no-repeat;
  height: 100%;
  color: transparent;
  border-color: transparent;
  margin-top: 4vh;
}

.navLogo{
  background-repeat: no-repeat;
  height: 100%;
  color: transparent;
  border-color: transparent;
}

.toggle-theme-wrapper span {
  font-size: 45px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
  border: solid 0.5px;
  border-color: black;
}

.slider:before {
  background-color: transparent;
  bottom: 4px;
  content: "🌒";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
  content: "☀️";
}

input:checked + .slider {
  background-color: black;
  border: solid 0.5px;
  border-color: yellow;
  content: "☀️ !important";
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: transparent;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

.darkMode {
  background-color: var(--background-color) !important;
  color: var(--font-color);
} 

.darkModeText {
  color: var(--font-color) !important;
}

.darkModeText2 {
  color: var(--background-color) !important;
}

.font-table{
  color: var(--button-color);
}

/* .colorNav{
background: transparent !important;
} */

.navbar-header-footer{
  background-color: var(--card-background-color);
  color: var(--button-color);
  border-color: #dfdfdf !important;
}

.navbar-light .navbar-toggler{
  background-color: white;
}

.navbar-dark{
  background-color: var(--background-color);
  color: var(--button-color);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgb(0, 162, 255) !important;
  background-color: var(--nav-active-color);
  border-color: #dee2e6 #dee2e6 var(--nav-active-color);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  color: var(--button-color) !important;
}

.logo-mil{
  background-repeat: no-repeat;
  height: 100%;
  color: transparent;
  border-color: transparent;
}

.button-color{
  border-color: var(--button-color);
  color: var(--button-color);
}

.footer{
  color: var(--button-color);
}

.footerIcons{
  justify-content: flex-end !important;
  display: flex !important;
}

a {
  color: var(--link-color);
}

span{
  color: var(--button-color);
}

.tblDarkMode{
  background-color: var(--background-color);
}

.cZijsi{
  background-color:var(--background-color) !important;
}

.cPZhfo{
  color: var(--button-color) !important;
  font-size: 16px !important;
}

.dceWFj{
  border-color: var(--color-toggle-table) !important;
  color: var(--button-color) !important;
  background-color: var(--color-toggle-table) !important;
}

.blSiWP{
  background-color:var(--background-color) !important;
  border-color: var(--color-toggle-table) !important;
}

.dOTclF{
  background-color:var(--background-color) !important;
}
/* FIN DARKMODE */

.mainBg{
  height: 100vh;
}

.bgText{
  background: var(--bg-text);
  text-shadow: var(--text-shadow);
}

.text-SM{
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: var(--button-color);
}

/* TAMAÑOS PANTALLAS */
@media screen and (max-width:575px) {
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none !important;
  }

  .footer{
    text-align: center;
  }

  .footerIcons{
    justify-content: center !important;
  }

  .downloadBtn {
    margin: 0;
    padding: 10px 30px;
    margin-top: 0;
    margin-left: 15%;
  }

  .mainBg{
    /* DARK CELL -- background: url('./../public/Assets/Images/X1.jpg'); */
    /* LIGHT background: url('./../public/Assets/Images/X1.jpg'); */
    background: VAR(--fondo-SM);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .text-SM{
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: var(--background-color);
  }

  .socialbtn{
    /* background: transparent; */
    border-radius: 20px;
    margin-bottom: 40%;
  }
}

@media screen and (min-width: 601px) {
  .ml-div {
    margin-left: 30vw;
  }

  .mainBg{
    background: var(--fondo);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
